strict-ssl=false
legacy-peer-deps=true
@innouni:registry=https://artifacts.devogip.ru/artifactory/api/npm/gtm-npm/
//artifacts.devogip.ru/artifactory/api/npm/gtm-npm/:_password=QVBBZkdBMXUxQTlWaTh2ZnBQZnBSa1JpS1Nl
//artifacts.devogip.ru/artifactory/api/npm/gtm-npm/:username=gtm-user
//artifacts.devogip.ru/artifactory/api/npm/gtm-npm/:email=admin@example.com
//artifacts.devogip.ru/artifactory/api/npm/gtm-npm/:always-auth=true
